.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

}

.content__title {
  font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
.content__text {
  width: 580px;
  font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 76px;

}
.opacity {
  opacity: 0.5;
}
.content__author {
margin-left: 10px;
  
 
}
.content__flex {
display: flex;
align-items: center;

}
.content__link {
padding: 6px 16px;
  width: 107px;
  height: 30px;
  background: linear-gradient(0deg, rgba(8, 30, 52, 0.12), rgba(8, 30, 52, 0.12)), #FFFBFE;
  border-radius: 20px;
  color:black;
  text-decoration: none;
  margin-right: 10px;
}
.content__bottom{
  opacity: 0.5;
  margin-right: 10px;
}