.footer {
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: right;


}
.footer__link {
  font-weight: 500;
    font-size: 14px;
    line-height: 18px;

color: #081E34;

  opacity: 0.5;
}

.footer__img {
margin-top: 20px;
}